.NavBar {
  height: 5vh;
  background-color: aqua;
  display: flex;
  justify-content: end;
}

.navBar-right-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}
.navBar-right-buttons > * {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  padding: 0.5rem;
  cursor: pointer;
}

.navBar-right-buttons > *:hover {
  background-color: #f2f2f2;
}
