.auth-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(135deg, #0866ff, #a777e3);
  padding: 20px;
}

.signal-light {
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 24px;
  margin-top: 24px;
  display: flex;
  gap: 10px;
  background-color: #555;
  color: white;
  padding: 12px;
  border-radius: 24px;
}

.light-dot {
  height: 24px;
  width: 24px;
  border-radius: 50%;
}

.auth-card {
  position: relative;
  width: 100%;
  max-width: 450px;
  background-color: white;
  border-radius: 12px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
}

.auth-header {
  display: flex;
  border-bottom: 1px solid #eee;
}

.auth-tab {
  flex: 1;
  text-align: center;
  padding: 20px 0;
  font-weight: 600;
  color: #555;
  cursor: pointer;
  transition: all 0.3s ease;
}

.auth-tab.active {
  color: #6e8efb;
  border-bottom: 3px solid #6e8efb;
}

.auth-body {
  padding: 30px;
}

.auth-slogan {
  position: absolute;

  bottom: 100%;
  text-align: center;
  color: white;
  margin-bottom: 30px;
  max-width: 600px;
}

.auth-slogan h1 {
  font-size: var(--font-size-large);
  font-weight: 700;
  margin-bottom: 10px;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.auth-slogan p {
  font-size: var(--font-size-medium);
  font-weight: 400;
  opacity: 0.9;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

.accounts-list {
  position: fixed;
  opacity: 0.5;
  top: 5%;
  right: 0;
  margin-right: 1rem;
  border: 1px inset black;
  border-radius: 1.5rem;
  padding: 1rem;
}
.accounts-list th {
  text-align: center;
}

.accounts-list tr:hover {
  opacity: 1;
  cursor: pointer;
}
